.text-index {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 150px;
  }
  
  .index-dos {
    font-size: 50px;
    text-transform: uppercase;
    padding: 12px;
  }
  
  .empresa-familiar {
    padding: 12px;
  }
  
  .amorti {
    padding: 12px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 1300px;
  }
