@media (max-width: 660px) {

    * {
        font-family: 'poppins', sans-serif;
      }
  
    header {
      z-index: 99;
      width: 1000vw;
    }
  
    .text-index,
    .empresa,
    .marcas,
    .servic,
    .contactenos {
      margin: 29px;
    }
  
    .index-dos {
      display: grid;
      font-size: 30px;
      text-transform: uppercase;
      padding: 10px;
      margin: 30px;
    }
  
    .amorti {
      margin-left: 12px;
      width: 300px;
      height: 200px;
    }
  
    .empresa {
      font-size: 25px;
    }
  
    .rounded-5 {
      margin-right: 12px;
      padding: 0px;
      height: 30vh;
      width: 90vw;
    }
  
    .empresa-familiar {
      display: grid;
      font-size: 30px;
      text-transform: uppercase;
      padding: 10px;
      margin: 30px;
    }
  
    #empobjvis {
      display: grid;
      row-gap: 3vh;
    }
  
    header {
      background-color: peru;
      width: 100vw;
    }
  
    .find {
      font-size: 14px;
      margin: 0px;
    }
  
    .navbar-brand {
      font-size: 22px;
    }
  
    .imglogo {
      height: 64px;
      width: 64px;
    }
  
    #cajasServicio {
      display: grid;
    }
  
    .servimg {
      margin-left: 0px;
      width: 390px;
      height: 200px;
    }
  
    .formulario {
      width: 100%;
    }
  
    .map {
      width: 90%;
      height: 900%;
    }
  
    #conTac {
      margin-right: 17%;
    }
  
    .fomrucontact {
      padding: 50px;
    }
  
    .card {
      display: grid;
      column-gap: 12px;
    }
  
    .card-img-top {
      width: 288px;
    }
  
    #contactenoS {
      overflow: hidden;
    }
  
    .navbar-toggler:hover {
      transform: rotate(555deg);
    }
  }